html {
  height: 100%
}

body {
  height: 100%;
  width: 100%;
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
}

.background-top-image {
  width: 100%;
  height: 30%;
  position: absolute;
  background-color: darkseagreen;
  top: 0;
  display: flex;
}

.cover-img {
  width: 100%;
  height: 100px;
}

.cover-img>img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

form, .alert {
  margin-left: 20px;
  margin-right: 20px;
}

ul {
  list-style: none;
}

.login-logos-container {
  width: 100%;
  height: 100%;
  max-height: 200px;
  margin: auto;
}

.logos-bottom-container {
  position: relative;
  height: 40%;
}

@media (max-width: 767px){
  .form-container {
    margin-top: 40%;
  }
}
