.clickable {
    cursor: pointer;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue-icon {
    color: #103bff;
}

.hiddenRow {
    padding: 0 !important;
}

.margin-button{
    margin: 10px;
}

/* Remove all border radius */
.form-control, .btn, .panel, .input-group-addon, .alert, .list-group-item:last-child, .list-group-item:first-child,
 .panel-heading, .panel-group .panel {
    border-radius: 0;
}

/* Panel groups have some space */
.panel-group .panel-heading {
    border-bottom: 1px solid #225886;
}