html, body {
  height: 100%;
}

/* Make body take all height but leave space for the footer */
.body-wrap {
  min-height: 100%;
}

.body-container {
  padding-bottom: 100px;
}

/* Footer */
.footer {
  position: relative;
  margin-top: -100px; /* negative value of footer height */
  height: 100px;
  clear:both;
  padding-top:20px;
  background-color: gray;
}

.footer > img {
  height: 100%;
  padding: 0px 5%; /* TODO change this value and make the footer nice */
}

.clickable {
    cursor: pointer;
}

/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
}

/* Navbar date is bold and white */
.navbar-date {
  font-weight: bold;
  color: white !important;
}

/* Navbar logos must not take too much space */
.navbar-logos > .navbar-brand > img {
  height: 100%;
}

/* Change the navbar collapsed mobile breakpoint */
@media (max-width: 900px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
    margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue-icon {
    color: #103bff;
}

.hiddenRow {
    padding: 0 !important;
}

.margin-button{
    margin: 10px;
}

/* Remove all border radius */
.form-control, .btn, .panel, .input-group-addon, .alert, .list-group-item:last-child, .list-group-item:first-child,
 .panel-heading, .panel-group .panel {
    border-radius: 0;
}

/* Panel groups have some space */
.panel-group .panel-heading {
    border-bottom: 1px solid #225886;
}

/* Floating action button */
.fab-btn {
  cursor: pointer;
}
.fab-btn-backdrop {
  color: rgba(255, 255, 255, 0);
}
.fab-btn-primary, .fab-btn-secondary {
  transition: all 0.35s ease-in-out;
}
.fab-btn.active .fab-btn-primary {
  opacity: 0;
  transform: rotate(225deg);
}
.fab-btn-secondary {
  opacity: 0;
  transform: rotate(-225deg);
}
.fab-btn.active .fab-btn-secondary {
  opacity: 1;
  transform: rotate(0);
  margin-top: -2px;
}
#action-buttons .show-on-hover:hover > ul.dropdown-menu {
    display: block;
}
#action-buttons .show-on-hover {
    position: fixed;
    bottom: 40px;
    right: 3vw;
    z-index: 10;
}
#action-buttons .btn-io{
    border-radius: 50%;
    height: 54px;
    width: 54px;
    padding: 0 !important;
    box-shadow: 0px 3px 7px 0px rgba(202, 124, 124, 0.72);
}
#action-buttons .dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
    margin-bottom: -5px;
    padding-bottom: 30px;
}
#action-buttons .dropdown-menu-right {
    right: 0 !Important;
    left: auto !Important;
}
#action-buttons .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000!Important;
    display: none;
    float: left;
    min-width: 50px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: rgba(255, 255, 255, 0) !Important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
}
#action-buttons .fa-iox{
    font-size: 22px;
}
#action-buttons .dropdown-menu > li {
    margin-left: 2px;
}
#action-buttons .dropdown-menu > li > a {
    display: block;
    padding: 0;
    padding-top: 4px;
    margin-top: 10px;
    /*margin-left: 42px;*/ /* To fix tooltip left but still not perfect */
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #fff;
    /*background: #fff;*/
    white-space: nowrap;
    width: 40px;
    height: 40px;
    border: solid 1px #ccc;
    border-radius: 50px;
    font-size: 21px;
    box-shadow: 0px 3px 7px 0px rgba(203, 203, 203, 0.72);
}
#action-buttons .dropdown-menu > li > a:hover {
    color: #000;
}
/*
#action-buttons .dropdown-menu > li:first-child>a {
    background: #1661d0 !important;
    color: #fff !important;
}
*/
/*
#action-buttons .dropdown-menu > li:nth-child(2)>a {
    background: #ec971f;
    color: #fff;
}
*/
/*
#action-buttons .dropdown-menu > li:last-child>a {
    background: #449d44;
    color: #fff;
}
*/
#action-buttons .fa-iosm{
    margin-top: 7px;
}
.show-on-hover {
    position: fixed;
    bottom: 50px;
    right: 50px;
}
/* END Floating action button */
