<style>
    .ui-autocomplete-input {
        border: none;
        font-size: 14px;
        width: 300px;
        height: 24px;
        margin-bottom: 5px;
        padding-top: 2px;
        border: 1px solid #DDD !important;
        padding-top: 0px !important;
        z-index: 1511;
        position: relative;
    }

    .ui-menu .ui-menu-item a {
        font-size: 12px;
    }

    .ui-autocomplete {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1510 !important;
        float: left;
        display: none;
        min-width: 160px;
        width: 160px;
        padding: 4px 0;
        margin: 2px 0 0 0;
        list-style: none;
        background-color: #ffffff;
        border-color: #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;
    }

    .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        white-space: nowrap;
        text-decoration: none;
    }

    .ui-state-hover, .ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
    }
</style>

{% extends "planner/modals/base_modal.html" %}
{% block modal_title %}Ajouter un utilisateur au jardin {% endblock modal_title %}
{% block modal_content %}
    <form id="add_user_form" action="{% url 'planner:add_user_to_garden_view' garden_id %}" name=""
          role="form" class="" method="post" accept-charset="utf-8">
        <div class="modal-body">
            {% csrf_token %}

            <div class="form-group">
                <label for="user_selection">Quel utilisateur voulez vous ajouter? </label>
                <input id="user_selection_id" name="user_selection" hidden/> <!-- contain the user ID -->
                <input id="user_selection" class="form-control"/> <!-- display the user name -->
                <br>
            </div>
        </div>
        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value="Ajouter"/>
        </div>
    </form>
{% endblock modal_content %}
<script>
    $(document).ready(function () {
        var usersList = [
            {% for u in users %}
                {label: "{{ u.email }}", id: "{{u.id}}"},
            {% endfor %}
        ];
        $("#user_selection").autocomplete({
            minLength: 3,
            source: usersList,
            select: function (event, ui) {
                // Set the ID of the selected user to the hidden input field.
                $("#user_selection_id").val(ui.item.id);
            }
        });
        $("#user_selection").autocomplete("option", "appendTo", ".eventInsForm");
    });
</script>
