{% extends "planner/modals/base_modal.html" %}
{% block modal_title %}Ajouter une plantation{% endblock modal_title %}
{% block modal_content %}
    <form action="{{ request.path }}" name=""
          role="form" class="" method="post" accept-charset="utf-8">
        <div class="modal-body">
            {% csrf_token %}
            <div class="form-group">
                <label for="vegetable_selection">Quel légume voulez-vous ajouter? </label>
                <select class="form-control" id="vegetable_selection" name="vegetable_selection" required>
                    {% for v in vegetables %}
                        <option id="seeded_vegetable" name="seeded_vegetable"
                                value="{{ v.id }}">{{ v.name }} - {{ v.variety }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="seeding_label">Choisissez un nom pour cette plantation </label>
                <input id="seeding_label" type="text" class="form-control" name="seeding_label"
                       placeholder="Label" required>
            </div>

            <br>

            <div class="form-group">
                <label for="multiple_beds_selection">Sur quelle surface sera cette plantation? </label>
                {% load planner_extras %}
                <select class="form-control select2" id="multiple_beds_selection" name="multiple_beds_selection" required>
                    {% for p in parcels %}
                        <optgroup label="{{ p.name }}"> {{ p.name }}
                            {% get_beds_from_parcel p as beds %}
                            {% for b in beds %}
                                <option value="{{ b.id }}">{{ b.name }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </div>

        </div>

        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value="Ajouter"/>
        </div>
    </form>
    </div>
    </div>
    <script>
        document.getElementById('seeding_date').valueAsDate = new Date();
    </script>
    <script>
        $(document).ready(function () {
            $('.select2').select2({
                multiple: true,
                closeOnSelect: false
            });
        });

    </script>
{% endblock modal_content %}
