{% with request.resolver_match.kwargs.garden_id as garden_id %}
    <div class="modal-dialog">
        <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel"> {% block modal_title %}{% endblock modal_title %}</h4>
        </div>

            {% block modal_content %}{% endblock modal_content %}

        </div>
    </div>
{% endwith %}