{% extends "planner/modals/base_modal.html" %}
{% block modal_title %}Operation {{ co.id }}{% endblock modal_title %}
{% block modal_content %}
              <div class="modal-body">
                  <p>L'opération {{ co }} a bien été modifiée</p>
                  <script>
                    setTimeout(function() { jQuery('#modal-edit').modal('hide'); }, 1000);
                    $('body').on('hidden.bs.modal', '.modal', function () {
                        $(this).removeData('bs.modal');
                        location.reload();
                    });
                  </script>
              </div>
              <div class="modal-footer">
              </div>
{% endblock modal_content %}