<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                    class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel"> Contact </h4>
        </div>
        Cette application a pour vocation d'aider les maraichers professionnels comme amateurs à planifier leurs
        cultures et garder une trace de leurs actions.
        Elle a été développée dans le cadre d'un mémoire à l'Université Catholique de Louvain.
        Certaines données encodées peuvent être utilisées par l'Université Catholique de Louvain.
        Pour avoir plus d'informations sur le projet de recherche sur le maraîchage à la ferme de Lauzelle, vous pouvez vous rentre sur la page :
        http://www.fermedelauzelle.be/ ou contacter Adrien Dockx : adrien.dockx(at)uclouvain.be

        L'application développée est open source et vous pouvez retrouver le code source à l'adresse suivante :
        https://github.com/ZelieM/MT-planting_planner

    </div>
</div>