{% extends "planner/modals/base_modal.html" %}
{% block modal_title %}Contact{% endblock modal_title %}
{% block modal_content %}
    <div class="modal-body">
        <p>
            Cette application a pour vocation d'aider les maraichers professionnels comme amateurs à planifier leurs
            cultures et garder une trace de leurs actions.
        </p>
        <p>
            Elle a été développée dans le cadre d'un mémoire à l'Université Catholique de Louvain.
            Certaines données encodées peuvent être utilisées par l'Université Catholique de Louvain.
        </p>
        <p>
            Pour avoir plus d'informations sur le projet de recherche sur le maraîchage à la ferme de Lauzelle, visitez
            le site de la Ferme de Lauzelle ou contactez le responsable du projet:
        </p>
        <p>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="http://www.fermedelauzelle.be"><i class="fas fa-globe"></i> http://www.fermedelauzelle.be</a>
            </li>
            <li class="list-group-item">
                <a href="mailto:adrien.dockx@uclouvain.be"><i class="fas fa-user"></i> Adrien Dockx:
                    adrien.dockx(at)uclouvain.be</a>
            </li>
        </ul>
        </p>
        <p>
            L'application développée est open source et vous pouvez retrouver le code source à l'adresse suivante:
        <ul class="list-group">
            <li class="list-group-item">
                <a href="https://github.com/ZelieM/MT-planting_planner"><i class="fab fa-github"></i>
                    https://github.com/ZelieM/MT-planting_planner</a>
            </li>
        </ul>
        </p>
    </div>
{% endblock modal_content %}