{% extends "planner/modals/base_modal.html" %}
{% block modal_title %}Cloture d'une plantation{% endblock modal_title %}
{% block modal_content %}
{% load crispy_forms_tags %}
        <form action="{% url 'planner:deactivate_cultivated_area_view' garden_id area_id%}" name=""
              role="form" class="" method="post" accept-charset="utf-8">
            <div class="modal-body">
                <p> Complétez les détails concernant la récolte de cette plantation</p>
                {% csrf_token %}
                {{ form|crispy }}

            </div>
            <div class="modal-footer">
                <input class="btn btn-success" type="submit" value="Terminer"/>
            </div>
        </form>
{% endblock modal_content %}