{% extends "planner/modals/base_modal.html" %}
{% block modal_title %}Supprimer une alerte{% endblock modal_title %}
{% block modal_content %}
        <form id="co_pick_type_form" action="{% url 'planner:delete_alert_view' garden_id alert_id %}" name=""
              role="form" class="" method="post" accept-charset="utf-8">
            <div class="modal-body">
                {% csrf_token %}
                <label><input type="radio" name="deletion_justification" value="useless" checked> L'opération n'est pas
                    utile dans ce cas </label><br>
                <label><input type="radio" name="deletion_justification" value="destruction"> La culture a été détruite:
                    supprimer également toutes les futures opérations relatives à cette culture </label><br>

                <label for="deletion_note">Ajouter un commentaire éventuel à cette suppression :</label>
                <textarea class="form-control" type="text" name="note" placeholder="Note ou commentaires" id="deletion_note"></textarea>
                <br>
            </div>
            <div class="modal-footer">
                <input class="btn btn-success" type="submit" value="Supprimer"/>
            </div>
        </form>
{% endblock modal_content %}