{% extends "planner/modals/base_modal.html" %}
{% block modal_title %}Modification d'une opération {% endblock modal_title %}
{% block modal_content %}
    {% load crispy_forms_tags %}
    <form id="co_update_form" action="{% url 'planner:edit_co_view' garden_id form.instance.id %}" name=""
          role="form" class="" method="post" accept-charset="utf-8">
        <div class="modal-body">
            {% csrf_token %}
            {{ form|crispy }}

        </div>
        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value="Editer"/>
        </div>
    </form>
{% endblock modal_content %}





