{% extends "planner/modals/base_modal.html" %}
{% block modal_title %}Reporter cette alerte?{% endblock modal_title %}
{% block modal_content %}
        <form id="validate_alert_form" action="{% url 'planner:postpone_alert_view' garden_id alert_id %}" name=""
              role="form" class="" method="post" accept-charset="utf-8">
            <div class="modal-body">
                {% csrf_token %}

                <div class="form-group">
                    <label for="postponement_in_days">Reporter de combien de jours? </label>
                    <input id="postponement_in_days" type="number" class="form-control" name="postponement_in_days"
                           value="3" required>
                </div>
{#                <div class="form-group">#}
{#                    <label for="validation_note"> Commentaire éventuel</label>#}
{#                    <input id="validation_note" type="date" class="form-control" name="validation_note"#}
{#                           placeholder="Notes ou commentaires : Pour le moment, fonctionnalité pas intégrée">#}
{#                </div>#}

            </div>
            <div class="modal-footer">
                <input class="btn btn-success" type="submit" value="Valider"/>
            </div>
        </form>
{% endblock modal_content %}