{% extends "planner/modals/base_modal.html" %}
{% block modal_title %}Marquer cette opération comme faite?{% endblock modal_title %}
{% block modal_content %}
    <form id="validate_alert_form" action="{% url 'planner:validate_alert_view' garden_id alert_id %}" name=""
          role="form" class="" method="post" accept-charset="utf-8">
        <div class="modal-body">
            {% csrf_token %}

            <div class="form-group">
                <label for="execution_date">Date de réalisation de l'opération </label>
                <input id="execution_date" type="date" class="form-control" name="execution_date"
                       value="" required>
            </div>
            <div class="form-group">
                <label for="duration">Temps pris pour réaliser l'opération </label>
                <input id="duration" type="time" class="form-control" name="duration" step="1">
            </div>
            <div class="form-group">
                <label for="validation_note"> Commentaire éventuel</label>
                <textarea id="validation_note" type="text" class="form-control" name="validation_note"
                          placeholder="Note ou commentaires"></textarea>
            </div>

        </div>
        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value="Valider"/>
        </div>
    </form>
    <script>
        document.getElementById('execution_date').valueAsDate = new Date();
    </script>
{% endblock modal_content %}

