<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Index page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>


<body>

<div class="jumbotron text-center">
    <h1>Gestion de plantations maraicheres</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <div class="main">

                <div class="row">
                    <div class="col-xs-6 col-sm-6">

                        <h1>Créer un jardin</h1>

                        <form action="{% url 'planner:create_garden' %}" name="creategarden" role="form" class="form-horizontal" method="post" accept-charset="utf-8">
                             {% csrf_token %}
                            <div class="form-group">
                                <div class="col-md-8"><input name="gardenname" placeholder="Nom du jardin" class="form-control" type="text" id="GardenName"/></div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-8"><input name="postalcode" placeholder="Code postal" class="form-control" type="text" id="PostalCode" pattern="\d{4}" maxlength="4"/></div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-0 col-md-8"><input  class="btn btn-success btn btn-success" type="submit" value="Créer"/></div>
                            </div>

                        </form>
                    </div>

                    <div class="col-xs-6 col-sm-6">

                        <h1>Rejoindre un jardin existant</h1>
                        <form action="{% url 'planner:join_garden' %}" name="joingarden" role="form" class="form-horizontal" method="post" accept-charset="utf-8">
                           {% csrf_token %}
                           <div class="form-group">
                                <div class="col-md-8"><input name="gardenname" placeholder="Nom du jardin" class="form-control" type="text" id="GardenName"/></div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-8"><input name="postalcode" placeholder="Code postal" class="form-control" type="text" id="PostalCode" pattern="\d{4}" maxlength="4"/></div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-0 col-md-8"><input  class="btn btn-success btn btn-success" type="submit" value="Rejoindre"/></div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>





</body>
</html>