{% extends 'vegetables_library/base.html' %}


{% block content %}
    {% load planner_extras %}


    {% if messages %}
        <div class="container">

                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}

        </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>
    <div class="modal fade" id="modal-pick-type" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div><!-- /.modal -->

    <div class="modal fade" id="modal-add_vegetable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>

    <div class="container">
        <a class="btn btn-success margin-button" data-toggle="modal"
           href="{% url 'vegetables_library:add_vegetable_to_library_view' %}"
           data-target="#modal-add_vegetable" title="Ajouter un légume" data-tooltip>
            <i class="fas fa-fw fa-plus"></i>
            Ajouter un légume
        </a>

    </div>

    {% if species %}
        {% load planner_extras %}
        <div class="container">
            <div class="panel-group">
                <div class="panel panel-primary">
                    {% for s in species %}
                        <div class="panel-heading">
                            <h4 data-toggle="collapse" href="#collapse-v{{ s.id }}" class="panel-title clickable">
                                <span>{{ s.french_name }} <span class="pull-right"><i class="fas fa-fw fa-chevron-down"></i></span></span>
                            </h4>

                        </div>
                        <div id="collapse-v{{ s.id }}" class="panel-collapse collapse">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Legume</th>
                                        <th>Nom latin</th>
                                    </tr>
                                    </thead>
                                    {% for v in s.id|varieties_from_species %}
                                        <tbody>
                                        <tr>
                                            <td>{{ v.french_name }}</td>

                                            <td>{{ v.latin_name }}</td>


                                        </tbody>
                                    {% endfor %}
                                </table>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% endif %}

    {% load static %}
    <script src="{% static 'planner/js/activate_modal.js' %}"></script>


{% endblock content %}

