{% extends "planner/base.html" %}

{% block content %}

    <!-- Modal -->
    <div class="modal fade" id="modal-add_seed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>
    <!-- Modal -->

    <div class="col-md-8">
        <div>
            <a class="glyphicon glyphicon-plus btn btn-success" data-toggle="modal"
               href="{% url 'planner:add_seed_view' garden.id %}"
               data-target="#modal-add_seed" title="add item" data-tooltip>Ajouter un semis</a>
        </div>
        <br/>

        <div class="panel panel-default ">
            <div class="panel-heading">Opérations à faire</div>
            <div class="panel-body">
                {% for a in alerts %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ a.vegetable }}  :  {{ a.name }}

                            <div class="pull-right">
                                <a class="glyphicon glyphicon-ok" data-toggle="modal"
                                   href=""
                                   data-target="#modal-done" title="check task" data-tooltip></a>
                                <a class="glyphicon glyphicon-repeat" data-toggle="modal"
                                   href=""
                                   data-target="#modal-done" title="check task" data-tooltip></a>
                                <a class="glyphicon glyphicon-remove" data-toggle="modal"
                                   href=""
                                   data-target="#modal-done" title="check task" data-tooltip></a>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class=" col-md-3 col-md-offset-1">
        <div class="panel panel-default ">
            <div class="panel-heading">Historique</div>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Action</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        {% for op in history %}
                            <tbody>
                            <tr>
                                <td>{{ op.original_C_Operation }}</td>
                                <td>{{ op.date }}</td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#modal-add_seed').on('show.bs.modal', function (event) {
            var modal = $(this)
            var link = $(event.relatedTarget);
            modal.load(link.attr("href"));
        })
    </script>
{% endblock content %}