{% extends "planner/base.html" %}

{% block extra_js %}
    {% load static %}
    <script src="{% static 'planner/js/sorttable.js' %}"></script>
{% endblock extra_js %}

{% block content %}

    {% if messages %}
        <div class="col-md-7">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}


    <!-- Modal -->
    <div class="modal fade" id="modal-add_seed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>
    <div class="modal fade" id="modal-validate_alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>
    <div class="modal fade" id="modal-postpone_alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>
    <div class="modal fade" id="modal-delete_alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>
    <div class="modal fade" id="modal-add_punctual_operation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>
    <div class="modal fade" id="modal-add_observation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>
    <div class="modal fade" id="modal-print_operations" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>
    <!-- Modal -->

    <div class="col-md-7">
        <div>
            <a class="btn btn-success" data-toggle="modal"
               href="{% url 'planner:add_seed_view' garden.id %}"
               data-target="#modal-add_seed" title="add item" data-tooltip>
                <i class="fas fa-fw fa-plus"></i>
                Ajouter une plantation
            </a>
        </div>
        <br/>
        {% load planner_extras %}
        {% load l10n %}
        <div class="panel panel-default ">
            <div class="panel-heading">Opérations à faire
                <a href="{% url 'planner:print_forthcoming_operations' garden.id %}"
                   class="pull-right blue"
                   data-toggle="modal"
                   data-target="#modal-print_operations" title="Imprimer la feuille les opérations à faire"
                   data-tooltip>
                    <i class="fas fa-fw fa-print"></i>
                </a>
            </div>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table sortable">
                        <thead>
                        <tr>
                            <th>Plantation</th>
                            <th>Légume</th>
                            <th>Action</th>
                            <th> A faire le</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for current_alert in alerts %}
                            <tr data-toggle="collapse" href="#collapse-a{{ current_alert.id }}" class="clickable">
                                <td><b>{{ current_alert.area_concerned.label }} </b></td>
                                <td>{{ current_alert.area_concerned.vegetable }}</td>
                                <td>{{ current_alert.original_cultural_operation.name }}</td>
                                <td>{% due_date current_alert garden.id as current_due_date %} {{ current_due_date|date:"j F" }} </td>
                                <td>
                                    <a class="" data-toggle="modal"
                                       href="{% url 'planner:validate_alert_view' garden.id current_alert.id %}"
                                       data-target="#modal-validate_alert" title="Valider l'action"
                                       data-tooltip>
                                        <i class="fas fa-fw fa-check"></i>
                                    </a>
                                    <a class="" data-toggle="modal"
                                       href="{% url 'planner:postpone_alert_view' garden.id current_alert.id %}"
                                       data-target="#modal-postpone_alert" title="Reporter l'action"
                                       data-tooltip>
                                        <i class="fas fa-fw fa-redo"></i>
                                    </a>
                                    <a class="" data-toggle="modal"
                                       href="{% url 'planner:delete_alert_view' garden.id current_alert.id %}"
                                       data-target="#modal-delete_alert" title="Supprimer l'action"
                                       data-tooltip>
                                        <i class="fas fa-fw fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="info">
                                <td colspan="5" class="hiddenRow">
                                    <div class="collapse" id="collapse-a{{ current_alert.id }}">
                                        <b> Légume : </b> {{ current_alert.area_concerned.vegetable }}
                                        <br>
                                        <b> Reporté de : </b> {{ current_alert.postponement }} jours
                                        <br>
                                        <b> En retard de : </b> {% days_late current_due_date %} jours
                                        <br>
                                        <b> Temps estimé : </b> {% estimated_needed_time current_alert %} heures
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class=" col-md-5 ">
        <div class="align-content-center">
            <a class="btn btn-success" data-toggle="modal"
               href="{% url 'planner:add_punctual_operation' garden.id %}"
               data-target="#modal-add_punctual_operation" title="Ajouter une opération ponctuelle" data-tooltip>
                <i class="fas fa-fw fa-plus"></i>Ajouter une action
            </a>
            <a class="btn btn-success" data-toggle="modal"
               href="{% url 'planner:add_observation' garden.id %}"
               data-target="#modal-add_observation" title="Ajouter une observation" data-tooltip>
                <i class="fas fa-fw fa-plus"></i> Ajouter une observation
            </a>
            <br>
        </div>
        <br>
        <div class="panel panel-default ">
            <div class="panel-heading">Historique</div>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Action</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        {% for op in history %}
                            <tbody>
                            <tr data-toggle="collapse" href="#collapse-history{{ op.id }}" class="clickable">
                                {% if op|is_operation %}
                                    <td><b>
                                        {% if op.is_deletion %}
                                            <i class="fas fa-fw fa-times red"></i>
                                        {% else %}
                                            <i class="fas fa-fw fa-check green"></i>
                                        {% endif %}
                                        {{ op.area_concerned.label }}
                                    </b> {{ op.name }}
                                    </td>
                                    <td>{{ op.execution_date }}</td>
                                {% else %}
                                    <td>
                                        <i class="fas fa-fw fa-eye blue-icon"></i>
                                        <b> Observation - </b> {{ op.area_concerned }}
                                    </td>
                                    <td>{{ op.execution_date }}</td>
                                {% endif %}
                            </tr>

                            <tr class="info">
                                <td colspan="5" class="hiddenRow">
                                    <div class="collapse" id="collapse-history{{ op.id }}">
                                        {% if op|is_operation %}
                                            <b> Légume : </b> {{ op.area_concerned.vegetable }}
                                            {#                                        <br>#}
                                            {#                                        <b> A été reporté de : </b> {{ op.postponement }} jours#}
                                            <br>
                                            <b> Opération effectuée par : </b> {{ op.executor }}
                                            <br>
                                            <b> Durée réelle: </b> {{ op.duration }}
                                            <br>
                                            <b> Commentaire éventuel : </b> {{ op.note }}
                                        {% else %}
                                            <b> Description : </b> {{ op.description }}
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'planner/js/activate_modal.js' %}"></script>

{% endblock content %}