<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vous etes bien sur la page détaillée d'un jardin</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static "planner/css/style.css" %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    {% block extra_js %}{% endblock extra_js %}

</head>
<body>

{% load planner_extras %}


<div class="jumbotron">
    <div class="container text-center">
        <h1> App name</h1>
        <p>{% now "D d F Y" %}</p>
    </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav ">
                <li><a href="{% url 'planner:garden_selection' %}">Choix du jardin</a></li>
                <li class="{% navactive request 'planner:alerts_view' garden.id %}"><a
                        href="{% url 'planner:alerts_view' garden.id %}">Alertes</a></li>
                <li class="{% navactive request 'planner:vegetables_view' garden.id %}"><a
                        href="{% url 'planner:vegetables_view' garden.id %}">Mes légumes</a></li>
                <li class="{% navactive request 'planner:garden_view' garden.id %}"><a
                        href="{% url 'planner:garden_view' garden.id %}">Mes planches</a></li>
                <li class="{% navactive request 'planner:crops_view' garden.id %}"><a
                        href="{% url 'planner:crops_view' garden.id %}">Mes cultures</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'planner:garden_statistics_view' garden.id %}">
                    <i class="fas fa-fw fa-chart-bar"></i> <span class="hidden-md hidden-lg hidden-sm"> Statistiques</span>
                </a></li>
                <li><a href="{% url 'planner:garden_export_view' garden.id %}">
                    <i class="fas fa-fw fa-upload"></i> <span class="hidden-md hidden-lg hidden-sm"> Exporter</span>
                </a></li>
                <li><a href="{% url 'planner:garden_settings_view' garden.id %}">
                    <i class="fas fa-fw fa-cog"></i><span class="hidden-md hidden-lg hidden-sm"> Paramètres</span>
                </a></li>
                <li><a href="{% url 'planner:log_out' %}">
                    <i class="fas fa-fw fa-sign-out-alt"></i><span class="hidden-md hidden-lg hidden-sm"> Se déconnecter</span>
                </a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock content %}

</div>
</body>
</html>
