{% extends "planner/base.html" %}

{% block page_title %}Mes planches{% endblock page_title %}

{% block content %}

    <div class="modal fade" id="modal-create_bed" tabindex="-1" role="dialog" aria-hidden="true">
    </div>

    <div id="action-buttons">
        <div class="fab-btn btn-group show-on-hover dropup">
            <div data-toggle="tooltip" data-placement="right" title="Actions" style="margin-left: 42px;">
                <button type="button" class="btn btn-danger btn-io dropdown-toggle" data-toggle="dropdown">
                    <span class="">
                      <i class="fas fa-ellipsis-h"></i>
                    </span>
                </button>
            </div>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li data-toggle="tooltip" title="Imprimer les QR codes" data-placement="right">
                    <a class="btn btn-warning" href="{% url 'planner:print_qr_codes' garden.id %}">
                        <i class="fas fa-fw fa-qrcode"></i>
                    </a>

                </li>
                <li data-toggle="tooltip" title="Ajouter une planche" data-placement="right">
                    <a class="btn btn-success" data-toggle="modal"
                       href="{% url 'planner:create_bed' garden.id %}"
                       data-target="#modal-create_bed">
                        <i class="fas fa-fw fa-plus"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {# View containing the list of beds of the current garden  #}
    {% if beds %}

        {% load planner_extras %}
        <div class="modal fade" id="modal-deactivate_cultivated_area" tabindex="-1" role="dialog" aria-hidden="true">
        </div>
        <div class="modal fade" id="modal-update_bed" tabindex="-1" role="dialog" aria-hidden="true">
        </div>
        <div class="modal fade" id="modal-delete_bed" tabindex="-1" role="dialog" aria-hidden="true">
        </div>

        <table class="table table-hover table-bordered table-responsive ">
            <tr>
                <th>Planche
                </th>
                <th>Dimensions</th>

                <th> Détails</th>
            </tr>
            {% for b in beds %}
                <tr>
                    <td class="col-md-3">
                        {{ b.name }}
                        <a href="{% url 'planner:delete_bed' garden.id b.id %}"
                           class="pull-right red"
                           data-toggle="modal"
                           data-target="#modal-delete_bed" title="Supprimer cette planche" data-tooltip>
                            <i class="fas fa-fw fa-times red"></i>
                        </a>
                        <a href="{% url 'planner:update_bed' garden.id b.id %}"
                           class="pull-right blue"
                           data-toggle="modal"
                           data-target="#modal-update_bed" title="Editer cette planche" data-tooltip>
                            <i class="fas fa-fw fa-pencil-alt blue"></i>
                        </a>
                    </td>
                    <td class="col-md-3">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-action">
                                <b> Longueur [cm] : </b>
                                {{ b.length }}

                            </li>
                            <li class="list-group-item list-group-item-action">
                                <b> Largeur [cm] : </b>
                                {{ b.width }}
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <b> Surface [m²] : </b>
                                {{ b.get_area }}
                            </li>

                        </ul>
                    </td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-action">
                                <b>Description : </b>
                                {{ b.comment }}

                            </li>
                            <li class="list-group-item list-group-item-action">
                                <b>Type de sol : </b>
                                {{ b.soil_type }}
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <b> Exposition : </b>
                                {{ b.exposition }}
                            </li>

                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>Pas encore de planches sur ce jardin, cliquez sur le bouton <i class="fas fa-fw fa-plus green"></i> pour en ajouter une</p>

    {% endif %}


    {% load static %}
    <script src="{% static 'planner/js/activate_modal.js' %}"></script>
    <script src="{% static 'planner/js/activate_tooltips.js' %}"></script>

{% endblock content %}
