{% extends "planner/base.html" %}

{% block content %}
    {# View containing the list of beds of the current garden and a form to add new beds #}
    {% if beds %}

        {% load planner_extras %}
        <div class="modal fade" id="modal-deactivate_cultivated_area" tabindex="-1" role="dialog" aria-hidden="true">
        </div>
        <div class="modal fade" id="modal-create_bed" tabindex="-1" role="dialog" aria-hidden="true">
        </div>
        <div class="modal fade" id="modal-update_bed" tabindex="-1" role="dialog" aria-hidden="true">
        </div>
        <div class="modal fade" id="modal-delete_bed" tabindex="-1" role="dialog" aria-hidden="true">
        </div>

        <table class="table table-hover table-bordered table-responsive ">
            <tr>
                <th>Planche
                    <a href="{% url 'planner:create_bed' garden.id %}"
                       class="pull-right red"
                       data-toggle="modal"
                       data-target="#modal-create_bed" title="Ajouter une planche" data-tooltip>
                        <span class="glyphicon glyphicon-plus green"></span>
                    </a>
                </th>
                <th>Dimensions</th>

                <th> Détails</th>
            </tr>
            {% for b in beds %}
                <tr>
                    <td class="col-md-3">
                        {{ b.name }}
                        <a href="{% url 'planner:delete_bed' garden.id b.id %}"
                           class="pull-right red"
                           data-toggle="modal"
                           data-target="#modal-delete_bed" title="Supprimer cette planche" data-tooltip>
                            <span class="glyphicon glyphicon-remove red"></span>
                        </a>
                        <a href="{% url 'planner:update_bed' garden.id b.id %}"
                           class="pull-right blue"
                           data-toggle="modal"
                           data-target="#modal-update_bed" title="Editer cette planche" data-tooltip>
                            <span class="glyphicon glyphicon-pencil blue"></span>
                        </a>

                        {#                            <input class="glyphicon glyphicon-remove" type="submit" value="Supprimer"/>#}

                    </td>
                    <td class="col-md-3">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-action">
                                <b> Longueur [cm] : </b>
                                {{ b.length }}

                            </li>
                            <li class="list-group-item list-group-item-action">
                                <b> Largeur [cm] : </b>
                                {{ b.width }}
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <b> Surface [m²] : </b>
                                {{ b.get_area }}
                            </li>

                        </ul>
                    </td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-action">
                                <b>Description : </b>
                                {{ b.comment }}

                            </li>
                            <li class="list-group-item list-group-item-action">
                                <b>Type de sol : </b>
                                {{ b.soil_type }}
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <b> Exposition : </b>
                                {{ b.exposition }}
                            </li>

                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>


{#        {% for b in beds %}#}
{#            <div class="panel panel-success ">#}
{#                <div class="panel-heading"> {{ b.name }} - Plantations en cours</div>#}
{#                <div class="panel-body bed_panel">#}
{#                    <ul class="list-group">#}
{#                        {% active_cultivated_areas b.id as cultivated_areas %}#}
{#                        {% if cultivated_areas %}#}
{#                            {% for ca in cultivated_areas %}#}
{#                                <li class="list-group-item list-group-item-action">#}
{#                                    {{ ca.label }} : {{ ca.vegetable }}#}
{#                                    <a href="{% url 'planner:deactivate_cultivated_area_view' garden.id ca.id %}"#}
{#                                       class="pull-right red"#}
{#                                       data-toggle="modal"#}
{#                                       data-target="#modal-deactivate_cultivated_area"#}
{#                                       title="Désactiver cette plantation" data-tooltip>#}
{#                                        <span class="glyphicon glyphicon-remove"></span>#}
{#                                    </a>#}
{#                                </li>#}
{#                            {% endfor %}#}
{#                        {% else %}#}
{#                            <li class="list-group-item list-group-item-action">#}
{#                                Pas de plantations actives sur cette planche#}
{#                            </li>#}
{#                        {% endif %}#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
    {% else %}
        <p>Pas de planches sur ce jardin</p>

        <form action="{% url 'planner:add_bed' garden.id %}" name="addbed" role="form" class="form-horizontal"
              method="post" accept-charset="utf-8">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-md-3"><input name="bedname" placeholder="Nom de la planche" class="form-control"
                                             type="text" id="BedName"/></div>
                <div class="col-md-3"><input name="bedlength" placeholder="Longueur de la planche" class="form-control"
                                             type="number" id="BedLength" maxlength="15"/></div>
                <div class="col-md-3"><input name="bedwidth" placeholder="Largeur de la planche" class="form-control"
                                             type="number" id="BedWidth" maxlength="15"/></div>
                <div class="col-md-3"><input class="btn btn-success btn btn-success " type="submit" value="Ajouter"/>
                </div>
            </div>
        </form>
    {% endif %}


    {% load static %}
    <script src="{% static 'planner/js/activate_modal.js' %}"></script>

{% endblock content %}