{% extends "planner/base_for_gardens_views.html" %}

{% block page_title %}Mes cultures{% endblock page_title %}

{% block content %}
    {% load planner_extras %}
    {# View containing the list of beds of the current garden and a form to add new beds #}

    <div class="alert alert-info" id="info-bubble-content" style="display: none;">
        Cette page regroupe l'ensemble de vos cultures organisées par planche.
        Chaque planche a un historique de plantations et des cultures en cours.
        Les cultures en cours peuvent être arrêtées ou cloturées en cliquant sur la <i
            class="fas fa-fw fa-times red"></i>.
        Chaque culture dans l'historique a des détails de récolte. Ces détails peuvent être téléchargés en format excel
        sous l'onglet <a
            href="{% url 'planner:garden_export_view' garden_id %}"> <i class="fas fa-fw fa-upload"></i> Exporter</a>.
    </div>

    <div align="center" class="form-group">
        <a href="{% url 'planner:crops_view' garden_id %}"
           class="btn btn-default {% navactive request 'planner:crops_view' garden_id %}">Par planche
        </a>
        <a href="{% url 'planner:crops_by_vegetable_view' garden_id %}"
           class="btn btn-default {% navactive request 'planner:crops_by_vegetable_view' garden_id %}">Par légume
        </a>
    </div>


    <div id="action-buttons">
        <div class="fab-btn btn-group show-on-hover dropup">
            <div data-toggle="tooltip" data-placement="right" title="Actions" style="margin-left: 42px;">
                <button type="button" class="btn btn-danger btn-io dropdown-toggle" data-toggle="dropdown">
                    <span class="">
                      <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li data-toggle="tooltip" title="Ajouter une plantation" data-placement="right">
                    <a class="btn btn-success" data-toggle="modal"
                       href="{% url 'planner:add_seed_view' garden_id %}"
                       data-target="#modal-add_seed">
                        <i class="fas fa-fw fa-leaf"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal fade" id="modal-add_seed" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>

    {% if beds %}

        <div class="modal fade" id="modal-deactivate_cultivated_area" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
        </div>


        <div class="form-group">
            <input class="form-control" id="search_input" type="text" placeholder="Rechercher..">
        </div>

        <div id="searchable_panels">
            {% for b in beds %}
                <div class="panel panel-success ">
                    <div class="panel-heading searchable"> {{ b.name }}</div>
                    <div class="panel-body bed_panel">

                        {% active_cultivated_areas b.id as active_cultivated_areas %}
                        {% inactive_cultivated_areas b.id as inactive_cultivated_areas %}
                        <div class="panel-group">
                            {# CURRENT #}
                            <h4> Plantations en cours</h4>
                            <ul class="list-group">
                                {% if active_cultivated_areas %}
                                    {% for ca in active_cultivated_areas %}
                                        <li class="list-group-item list-group-item-action searchable">
                                            <a href="{% url 'planner:qr_area_view' garden_id ca.id %}">
                                                {{ ca.label }} : {{ ca.vegetable }}
                                            </a>

                                            <a href="{% url 'planner:deactivate_cultivated_area_view' garden_id ca.id %}"
                                               class="pull-right red"
                                               data-toggle="modal"
                                               data-target="#modal-deactivate_cultivated_area"
                                               title="Désactiver cette plantation" data-tooltip>
                                                <i class="fas fa-fw fa-times"></i>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li class="list-group-item list-group-item-action">
                                        Pas de plantations actives sur cette planche
                                    </li>
                                {% endif %}
                            </ul>

                            {# HISTORY #}
                            <h4> Historique de la planche </h4>
                            <ul class="list-group">
                                {% if inactive_cultivated_areas %}
                                    {% for ca in inactive_cultivated_areas %}
                                        <li class="list-group-item list-group-item-action searchable"
                                            data-toggle="collapse"
                                            href="#collapse-ca{{ ca.id }}" class="clickable">
                                            {{ ca.label }} : {{ ca.vegetable.name }} ({{ ca.harvest_date|date:"F Y" }})
                                            <span class="pull-right"><i class="fas fa-fw fa-chevron-down"></i></span>
                                            <div id="collapse-ca{{ ca.id }}" class="collapse">
                                                <br>
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-bordered">
                                                        <tr>
                                                            <th>Date de récolte</th>
                                                            <th>Production (kg)</th>

                                                            <th> Prix de vente (€)</th>
                                                            <th> Rendement (€/kg)</th>
                                                            <th> Editer</th>
                                                        </tr>
                                                        <tr>
                                                            <td class="col-md-3">
                                                                {{ ca.harvest_date }}
                                                            </td>
                                                            <td class="col-md-3">
                                                                {{ ca.kg_produced }}
                                                            </td>
                                                            <td>
                                                                {{ ca.total_selling_price }}
                                                            </td>
                                                            <td>
                                                                {% productivity ca %}
                                                            </td>
                                                            <td>
                                                                <a href="{% url 'planner:deactivate_cultivated_area_view' garden_id ca.id %}"
                                                                   class="pull-right blue"
                                                                   data-toggle="modal"
                                                                   data-target="#modal-deactivate_cultivated_area"
                                                                   title="Editer les données de récolte" data-tooltip>
                                                                    <i class="fas fa-fw fa-pencil-alt"></i>
                                                                </a>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}

                                {% else %}
                                    <li class="list-group-item list-group-item-action">
                                        Il n'y a pas d'historique de plantations pour cette planche
                                    </li>

                                {% endif %}
                            </ul>


                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Pas de planches sur ce jardin</p>
    {% endif %}


    {% load static %}
    <script src="{% static 'planner/js/activate_tooltips.js' %}"></script>
    <script src="{% static 'planner/js/activate_modal.js' %}"></script>
    <script src="{% static 'planner/js/search_cultivated_areas.js' %}"></script>
{% endblock content %}
