{% extends "planner/base_for_gardens_views.html" %}

{% block page_title %}Exportation{% endblock page_title %}

{% block content %}

    {% if messages %}
        <div class="col-md-6 col-md-offset-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="alert alert-info" id="info-bubble-content" style="display: none;">
    Cette page vous permet de télécharger certaines de vos données au format Excel.
    Vous pouvez choisir de télécharger l'historique des actions réalisées sur vos cultures qui reprend les données provenant de la colonne historique, dans l'onglet <a
            href="{% url 'planner:alerts_view' garden_id %}">Gestion</a>.
    Ou alors, vous pouvez télécharger les données de récolte qui ont été encodées via l'onglet <a
            href="{% url 'planner:crops_view' garden_id %}">Mes cultures</a>
    </div>
    <div class="container col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Exporter l'historique des actions de ce jardin</div>
            <div class="panel-body">
                <form action="{% url 'planner:garden_history_export_view' garden_id %}" role="form" class=""
                      method="post"
                      accept-charset="utf-8">
                    {% csrf_token %}
                    <label for="history_start_date">Veuillez sélectionner une date de début de l'historique </label>
                    <input type="date" id="history_start_date" name="history_start_date" class="form-control datePicker margin-input">

                    <input class="btn btn-success form-control margin-input" type="submit" value="Exporter"/>
                </form>
            </div>
        </div>
    </div>



    <div class="container col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Exporter les données de récoltes de ce jardin</div>
            <div class="panel-body">
                <form action="{% url 'planner:garden_harvest_export_view' garden_id %}" role="form" class=""
                      method="post"
                      accept-charset="utf-8">
                    {% csrf_token %}

                    <label for="harvest_history_start_date">Veuillez sélectionner une date de début de l'historique de
                        récolte </label>
                    <input type="date" id="harvest_history_start_date" name="harvest_history_start_date" class="form-control datePicker margin-input">
                    <input class="btn btn-success form-control margin-input" type="submit" value="Exporter"/>
                </form>
            </div>
        </div>
    </div>

    <script>
        Date.prototype.toDateInputValue = (function () {
            var local = new Date(this);
            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
            return local.toJSON().slice(0, 10);
        });
        $(document).ready(function () {
            $('.datePicker').each(function (index, element) {
                $(element).val(new Date().toDateInputValue());
            });
        })
    </script>
{% endblock content %}
