{% extends "planner/base.html" %}

{% block page_title %}Exportation{% endblock page_title %}

{% load crispy_forms_tags %}

{% block content %}

    {% if messages %}
        <div class="col-md-6 col-md-offset-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}


    <div class="container col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Exporter l'historique de ce jardin</div>
            <div class="panel-body">
                <form  action="{% url 'planner:garden_export_view' garden.id %}" role="form" class="" method="post" accept-charset="utf-8">
                     {% csrf_token %}
                    {{ form|crispy }}

                    <input class="btn btn-success" type="submit" value="Exporter"/>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
