{% load static %}

<div class="modal fade" id="modal-contact_info" tabindex="-1" role="dialog" aria-hidden="true">
</div>

<footer class="footer">
    <div class="logo-left">
        <img src="{% static '/planner/images/logos/logo-ucl-bleu.jpg' %}" class="img-logo"/>
    </div>

    <div class="contact">
        <a href="{% url 'planner:contact_info'%}"
                           data-toggle="modal"
                           data-target="#modal-contact_info" title="Informations de contact" data-tooltip>
            Contact
        </a>
    </div>
    <div class="logos-right">
        <div class="stacked-logo">
            <img src="{% static '/planner/images/logos/logo_agro-ucl.jpg' %}" class="img-logo"/>
        </div>
        <div class="stacked-logo">
            <img src="{% static '/planner/images/logos/logo_epl.png' %}" class="img-logo"/>
        </div>
    </div>
</footer>


<script src="{% static 'planner/js/activate_modal.js' %}"></script>
<script src="{% static 'planner/js/activate_tooltips.js' %}"></script>
