{% extends "planner/base.html" %}
{% block extra_head %}



    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>



    {% block extra_js %}{% endblock extra_js %}

{% endblock extra_head %}

{% block page_body %}
    {% load static %}


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-brand"> LauzePlan
                </p>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            {% load planner_extras %}
            <div class="collapse navbar-collapse" id="myNavbar">
                {% if request.user|is_researcher %}
                    <ul class="nav navbar-nav ">
                        <li class=""><a
                                href="{% url 'research:all_gardens_view' %}">Accéder à l'interface chercheur</a></li>

                    </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'planner:log_out' %}"><i class="fas fa-fw fa-sign-out-alt"></i> Se
                        déconnecter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="body-wrap">
        <div class="body-container">
            <div class="container col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Liste des exploitations maraichères dans lesquelles vous êtes actif</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for g in gardens_followed %}
                                <a href="{{ g.get_absolute_url }}"
                                   class="list-group-item list-group-item-action"> {{ g.name }}</a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Créer une nouvelle exploitation maraichère</div>
                    <div class="panel-body">
                        {% load crispy_forms_tags %}
                        <form action="" name="" role="form" class="form-horizontal col-md-12" method="post"
                              accept-charset="utf-8">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn-success" type="submit" value="Créer"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "planner/footer.html" %}
{% endblock page_body %}
