{% extends "planner/base_login.html" %}

{% block page_title %}Connexion{% endblock page_title %}

{% block form_content %}
<h1 class="text-center">Connectez-vous</h1>

{% if form.errors %}
<div class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    Nom d'utilisateur ou mot de passe incorrect</div>
{% endif %}


    <div class="alert alert-warning alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     Cette application a pour vocation d'aider les maraichers professionnels comme amateurs à planifier leurs cultures et garder une trace de leurs actions.
        Créez un compte et créez un jardin pour commencer à l'utiliser.
        <i> Elle a été développée dans le cadre d'un mémoire à l'Université Catholique de Louvain. </i>
</div>

<form action="" name="login" role="form" class="form-horizontal" method="post"
accept-charset="utf-8">
  {% csrf_token %}
  <div class="form-group">
    <div class="col-md-12">
      <div class="input-group">
        <span class="input-group-addon"><i class="fas fa-fw fa-user"></i></span>
        <input name="username" placeholder="Nom d'utilisateur"
        class="form-control" type="text" id="UserName"/>

      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <div class="input-group">
        <span class="input-group-addon"><i class="fas fa-fw fa-key"></i></span>
        <input name="password" placeholder="Mot de passe"
        class="form-control" type="password" id="Password"/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <input class="btn btn-primary btn-lg btn-block"
      type="submit" value="Se connecter"/>
    </div>
  </div>

</form>
{% endblock form_content %}
{% block form_navigation %}
<a href="{% url 'planner:signup' %}" role="button">Pas encore de compte?
  Enregistrez-vous</a>
{% endblock form_navigation %}
