{% extends "planner/base.html" %}


{% block content %}

    {% if messages %}
        <div class="col-md-6 col-md-offset-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="modal-edit_garden_details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>
    <div class="modal fade" id="modal-add_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>
    <div class="modal fade" id="modal-edit_email_address" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>
    <div class="modal fade" id="modal-edit_notification_delay" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>




    <div class="container col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Détails du jardin
                <a href="{% url 'planner:garden_edit_details' garden.id %}" class="pull-right"
                   data-toggle="modal"
                   data-target="#modal-edit_garden_details"
                   title="Editer les détails du jardin" data-tooltip>
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">
                        <b>Description : </b>
                        {{ garden.comment }}


                    </li>
                    <li class="list-group-item list-group-item-action">
                        <b>Type de sol : </b>
                        {{ garden.soil_type }}
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <b> Agriculture pratiquée : </b>
                        {{ garden.culture_type }}
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <b> Adresse email de référence : </b>
                        {{ garden.reference_email }}
                    </li>

                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Liste des utilisateurs de ce jardin</div>
            <div class="panel-body">
                <ul class="list-group">
                    {% for user in following_users %}
                        <li class="list-group-item list-group-item-action"> {{ user.username }}
                            <a href="{% url 'planner:delete_user_from_garden' garden.id user.id %}"
                               class="pull-right red">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div>
                    <a class="glyphicon glyphicon-plus btn btn-success" data-toggle="modal"
                       href="{% url 'planner:add_user_to_garden_view' garden.id %}"
                       data-target="#modal-add_user" title="add user" data-tooltip>Ajouter un utilisateur</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Notifications</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">
                        Délai de notification (en jours) :
                        <b>{{ garden.notification_delay }} </b>
                        <a href="{% url 'planner:edit_notification_delay' garden.id %}" class="pull-right"
                           data-toggle="modal"
                           data-target="#modal-edit_notification_delay"
                           title="Editer le nombre de jours précédant la notification" data-tooltip>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Informations personnelles</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">
                        Adresse email :
                        <b>{{ user.email }} </b>
                        <a href="{% url 'planner:edit_user_email' garden.id %}" class="pull-right"
                           data-toggle="modal"
                           data-target="#modal-edit_email_address"
                           title="Editer l'adresse mail" data-tooltip>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
    {% load static %}
    <script src="{% static 'planner/js/activate_modal.js' %}"></script>

{% endblock content %}