{% extends "planner/base.html" %}

{% block content %}

    <h2>Planification du jardin {{ garden.name }}</h2>

    <div class="row well well-lg
">
        <form action="{% url 'planner:add_event' garden.id %}" name="addevent" role="form" class="" method="post"
              accept-charset="utf-8">
            {% csrf_token %}

            <div class="row panel panel-default panel-body">
                <div class="col-md-6 ">
                    <label for="bedname"> Nom de la planche</label>
                    <select class="form-control" name="bedname">
                        {% for b in beds %}
                            <option value="{{ b.id }}">{{ b.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="vegetablename"> Légume </label>
                    <select class="form-control " name="vegetablename">
                        {% for v in vegetables %}
                            <option value="{{ v.id }}">{{ v.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br>
            <div class="row panel panel-default panel-body">
                <div class="col-md-3">
                    <label for="seedingstart"> Début de la période de semis</label>
                    <input name="seedingstart" class="form-control" type="date" id="SeedingStart"/>
                </div>

                <div class="col-md-3">
                    <label for="seedingend"> Fin de la période de semis</label>
                    <input name="seedingend" class="form-control" type="date" id="SeedingEnd"/>
                </div>

                <div class="col-md-3">
                    <label for="harveststart"> Début de la période de récolte</label>
                    <input name="harveststart" class="form-control" type="date" id="HarvestStart"/>
                </div>

                <div class="col-md-3">
                    <label for="harvestend"> Fin de la période de récolte</label>
                    <input name="harvestend" class="form-control" type="date" id="HarvestEnd"/>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input class="btn btn-success" type="submit" value="Ajouter"/>
                </div>
            </div>
        </form>

    </div>
    <br>
    <div class="row">
        <table class="table table-hover table-bordered table-responsive ">
            <tr>
                <th>Nom de la planche</th>
                <th>Légume</th>
                <th>Début du semis</th>
                <th>Fin du semis</th>
                <th>Début de la récolte</th>
                <th>Fin de la récolte</th>
            </tr>
            {% for e in events %}
                <tr>
                    <td class="col-md-2">{{ e.bed.name }}</td>
                    <td class="col-md-2">{{ e.vegetable.name }}</td>
                    <td class="col-md-2">{{ e.seeding_start }}</td>
                    <td class="col-md-2">{{ e.seeding_end }}</td>
                    <td class="col-md-2">{{ e.harvest_start }}</td>
                    <td class="col-md-2">{{ e.harvest_end }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <br>

    {% load static %}
    <div style="overflow-x: auto">
        <img src="{% static "planner/ganttcharts/all_events.svg" %}" alt="My image">
    </div>

    <script src="{% static "planner/js/dates_constraints.js" %}" type="text/javascript"></script>
{% endblock content %}