{% extends "planner/base_login.html" %}

{% block page_title %}Création de compte{% endblock page_title %}

{% block form_content %}

<h1 class="text-center">Creez un nouveau compte</h1>

{% if messages %}
<ul class="messages list-group">
  {% for message in messages %}
  <li{% if message.tags == "error" %} class="alert alert-danger"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<form action="" name="createuser" role="form" class="form-horizontal" method="post"
accept-charset="utf-8">
  {% csrf_token %}
  <div class="form-group">
    <div class="col-md-12">
      <div class="input-group">
        <span class="input-group-addon"><i class="fas fa-fw fa-user"></i></span>
        <input name="username" placeholder="Nom d'utilisateur"
        class="form-control"
        type="text" id="UserName" required/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <div class="input-group">
        <span class="input-group-addon"><i class="fas fa-fw fa-key"></i></span>
        <input name="password" placeholder="Mot de passe"
        class="form-control" type="password"
        id="Password" required/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <div class="input-group">
        <span class="input-group-addon"><i class="fas fa-fw fa-envelope"></i></span>
        <input name="mailaddress" placeholder="Addresse email"
        class="form-control"
        type="email" id="MailAddress" required/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <input class="btn btn-primary btn-lg btn-block"
      type="submit"
      value="S'enregistrer" id="SignUp"
      required/>
    </div>
  </div>
</form>
{% endblock form_content %}
{% block form_navigation %}
<a href="{% url 'planner:login' %}" role="button">
  Déjà un compte? Connectez-vous
</a>
{% endblock form_navigation %}
