{% extends "planner/base.html" %}

{% block page_title %}Statistiques{% endblock page_title %}

{% block extra_js %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
{% endblock extra_js %}


{% block content %}

    {% if messages %}
        <div class="col-md-6 col-md-offset-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}


    {% if x_axis_estimated %}

        <div class="container col-md-12">
            <div id="chart_div">
                <canvas id="myChart" width="400" height="200"></canvas>
            </div>
        </div>



        <!-- MomentJS: a library to manipulate dates in JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"
                integrity="sha256-L3S3EDEk31HcLA5C6T2ovHvOcD80+fgqaCDt2BAi92o=" crossorigin="anonymous"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/be.js" integrity="sha256-kzy83J9hG9gVI1OHzMoNMPVE9Cwoyp5P9UqWDzeBZ04=" crossorigin="anonymous"></script> -->
        <script>
            // Init some nice colors
            window.chartColors = {
                red: 'rgb(255, 99, 132)',
                orange: 'rgb(255, 159, 64)',
                yellow: 'rgb(255, 205, 86)',
                green: 'rgb(75, 192, 192)',
                blue: 'rgb(54, 162, 235)',
                purple: 'rgb(153, 102, 255)',
                grey: 'rgb(201, 203, 207)'
            };


            // Get the canvas element used to draw the chart
            var ctx = document.getElementById("myChart").getContext("2d");

            // Build the X axis that contains the Monday of each week
            var xLabels = [
                {% for week_number,first_day in x_axis_estimated.items %}
                    "{{ first_day }}",
                {% endfor %}
            ];

            // Create an array of data
            var data_estimated = [
                {% for week_number,work_hours in y_axis_estimated.items %}
                    {{ work_hours }},
                {% endfor %}
            ];
            var data_actual = [
                {% for week_number,work_hours in y_axis_actual.items %}
                    {{ work_hours }},
                {% endfor %}
            ];

            // Chart configuration
            var config = {
                type: 'line',
                data: {
                    labels: xLabels,
                    datasets: [{
                        label: 'Charge de travail estimée',
                        backgroundColor: window.chartColors.red,
                        borderColor: window.chartColors.red,
                        borderDash: [10,5],
                        data: data_estimated,
                        fill: false
                    },
                        {
                            label: 'Charge de travail réelle',
                            backgroundColor: window.chartColors.blue,
                            borderColor: window.chartColors.blue,
                            data: data_actual,
                            fill: false
                        }
                    ]
                },
                options: {
                    legend: {
                        labels : {
                            usePointStyle: true,
                        },
                    },
                    responsive: true,
                    title: {
                        display: false,
                        text: 'Line Chart : hours by week'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                        callbacks: {
                            label: function (tooltipItem, data) {
                                // Customize the label show on tooltip to properly show a duration
                                var label = data.datasets[tooltipItem.datasetIndex].label || '';
                                if (label) {
                                    label += ': ';
                                }
                                mDuration = moment.duration(tooltipItem.yLabel, 'hours');
                                hours = mDuration.hours() + mDuration.days() * 24;
                                label += mDuration.humanize() + ' ( ' + hours + 'h' + mDuration.minutes() + ' )';
                                return label;
                            }
                        }
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Semaines'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Heures'
                            }
                        }]
                    }
                }
            };

            // Instantiate the chart
            var myLineChart = new Chart(ctx, config);
        </script>

    {% endif %}
{% endblock content %}
