{% extends "planner/base.html" %}

{% block extra_js %}
    <script src="http://malsup.github.io/jquery.form.js"></script>
{% endblock %}

{% block content %}


    <!-- Modal -->
    <div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>
    <div class="modal fade" id="modal-pick-type" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>
    <div class="modal fade" id="modal-add_vegetable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>

    <div class="container">
        <a class="glyphicon glyphicon-plus btn btn-success margin-button" data-toggle="modal"
           href="{% url 'planner:add_vegetable_to_garden_view' garden.id %}"
           data-target="#modal-add_vegetable" title="Ajouter un légume" data-tooltip> Ajouter un légume</a>
        <a class="glyphicon glyphicon-import btn btn-success margin-button"
           href="{% url 'planner:garden_import_vegetables_view' garden.id %}" title="Importer un légume depuis la librairie" data-tooltip>
           Importer un légume depuis la librairie</a>

    </div>

    <!-- /.modal -->


    {% if vegetables %}




        {% load planner_extras %}
        <div class="container">
            <div class="panel-group">
                <div class="panel panel-primary">
                    {% for v in vegetables.all %}
                        <div class="panel-heading">
                            <h4 data-toggle="collapse" href="#collapse-v{{ v.id }}" class="panel-title clickable">
                                <span>{{ v.name }} <span
                                        class="pull-right glyphicon glyphicon-chevron-down"></span></span>
                            </h4>
                        </div>
                        <div id="collapse-v{{ v.id }}" class="panel-collapse collapse">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Date ou délai</th>
                                        <th class="hidden-xs hidden-sm">Durée [h/m²]</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    {% for co in cultural_operations|related_to:v.id %}
                                        <tbody>
                                        <tr>
                                            <td>{{ co.name }}</td>
                                            {% load humanize %}
                                            <td>{{ co.get_date|date:"j F" }}</td>
                                            <td class="hidden-xs hidden-sm" title="hh:mm:ss">{{ co.duration }}</td>
                                            <td>

                                                <a class="glyphicon glyphicon-pencil" data-toggle="modal"
                                                   href="{% url 'planner:edit_co_view' garden.id co.id %}"
                                                   data-target="#modal-edit" title="edit item" data-tooltip></a>
                                                <a href="{% url 'planner:delete_co' co.id %}">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    {% endfor %}
                                </table>

                                <a class="glyphicon glyphicon-plus btn btn-success margin-button" data-toggle="modal"
                                   href="{% url 'planner:pick_co_type' garden.id v.id %}"
                                   data-target="#modal-pick-type" title="add item" data-tooltip> Ajouter une
                                    opération </a>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% endif %}

    {% load static %}
    <script src="{% static 'planner/js/activate_modal.js' %}"></script>

{% endblock content %}