{% extends 'research/base.html' %}

{% block content %}
    {% load research_extras %}
    <h2> Légumes dans la bibliothèque </h2>


    <div id="action-buttons">
        <div class="fab-btn btn-group show-on-hover dropup">
            <div data-toggle="tooltip" data-placement="right" title="Import-Export" style="margin-left: 42px;">
                <button type="button" class="btn btn-danger btn-io dropdown-toggle" data-toggle="dropdown">
                    <span class="">
                      <i class="fas fa-fw fa-ellipsis-h"></i>
                    </span>
                </button>
            </div>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li data-toggle="tooltip" data-original-title="Télécharger les données" data-placement="right">
                    <a class="btn btn-primary"
                       href="{% url "research:export_library" %}">
                        <i class="fas fa-fw fa-download"></i>
                    </a>
                </li>
                <li data-toggle="tooltip" title="Importer des données" data-placement="right">
                    <a class="btn btn-warning"
                       href="">
                        <i class="fas fa-fw fa-upload"></i>
                    </a>

                </li>
            </ul>
        </div>
    </div>


    <div class="container">
        <div class="panel-group">
            <div class="panel panel-primary">
                {% for v in library_vegetables %}
                    <div class="panel-heading">
                        <h4 data-toggle="collapse" href="#collapse-v{{ v.id }}" class="panel-title clickable">
                            <span>{{ v }} <span class="pull-right"><i
                                    class="fas fa-fw fa-chevron-down"></i></span></span>
                        </h4>
                    </div>
                    <div id="collapse-v{{ v.id }}" class="panel-collapse collapse">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Date ou délai</th>
                                    <th class="hidden-xs hidden-sm">Durée [h/m²]</th>
                                    <th></th>
                                </tr>
                                </thead>
                                {% for co in v.id|vegetable_operations %}
                                    <tbody>
                                    <tr>
                                        <td>{{ co.name }}</td>
                                        {% load humanize %}
                                        <td>{{ co.get_date|date:"j F" }}</td>
                                        <td class="hidden-xs hidden-sm" title="hh:mm:ss">{{ co.duration }}</td>
                                        <td>

                                            {#                                                <a class="" data-toggle="modal"#}
                                            {#                                                   href=""#}
                                            {#                                                   data-target="#modal-edit" title="edit item" data-tooltip>#}
                                            {#                                                    <i class="fas fa-fw fa-pencil-alt"></i>#}
                                            {#                                                </a>#}
                                            {#                                                <a href="">#}
                                            {#                                                    <i class="fas fa-fw fa-times"></i>#}
                                            {#                                                </a>#}
                                        </td>
                                    </tr>
                                    </tbody>
                                {% endfor %}
                            </table>
                            {##}
                            {#                                <a class="btn btn-success margin-button" data-toggle="modal"#}
                            {#                                   href=""#}
                            {#                                   data-target="#modal-pick-type" title="add item" data-tooltip>#}
                            {#                                    <i class="fas fa-fw fa-plus"></i>#}
                            {#                                    Ajouter une opération#}
                            {#                                </a>#}

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    {% load static %}
    <script src="{% static 'planner/js/activate_tooltips.js' %}"></script>

{% endblock content %}