{% extends 'research/base.html' %}

{% block content %}
    {% load research_extras %}
    <h2> Légumes dans la bibliothèque </h2>


    <div id="action-buttons">
        <div class="fab-btn btn-group show-on-hover dropup">
            <div data-toggle="tooltip" data-placement="right" title="Import-Export" style="margin-left: 42px;">
                <button type="button" class="btn btn-danger btn-io dropdown-toggle" data-toggle="dropdown">
                    <span class="">
                      <i class="fas fa-fw fa-ellipsis-h"></i>
                    </span>
                </button>
            </div>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li data-toggle="tooltip" data-original-title="Télécharger les espèces" data-placement="right">
                    <a class="btn btn-success"
                       href="{% url "research:export_library_species" %}">
                        <i class="fas fa-fw fa-book"></i>
                    </a>
                </li>
                <li data-toggle="tooltip" data-original-title="Télécharger les variétés" data-placement="right">
                    <a class="btn btn-success"
                       href="{% url "research:export_library_varieties" %}">
                        <i class="fas fa-fw fa-seedling"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>


    {% load humanize %}
    <div class="container">
        <div class="form-group">
            <input class="form-control" id="search_input" type="text" placeholder="Rechercher..">
        </div>
        <div class="row card-deck" id="searchable_element">
            {% for v in library_varieties %}
                <div class="card-container searchable-container col-sm-12 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title searchable">{{ v.species }} - {{ v.french_name }} </h4>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Début</th>
                                        <th> Fin</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td> Semis</td>
                                        <td>{{ v.open_ground_seeding.seeding_start|date:"j F" }}</td>
                                        <td>{{ v.open_ground_seeding.seeding_end|date:"j F" }}</td>
                                    </tr>
                                    <tr>
                                        <td> Récolte</td>
                                        <td>{{ v.open_ground_seeding.harvest_start|date:"j F" }}</td>
                                        <td>{{ v.open_ground_seeding.harvest_end|date:"j F" }}</td>
                                    </tr>

                                    {% for co in v.id|vegetable_operations %}
                                        <tr>
                                            <td> {{ co.name }}</td>
                                            <td></td>
                                            <td>{{ co.get_date|date:"j F" }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <p> Durée du cycle : {{ v.open_ground_seeding.cycle_duration }} jours </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



    {% load static %}
    <script src="{% static 'planner/js/activate_tooltips.js' %}"></script>
    <script src="{% static 'planner/js/search_elements.js' %}"></script>

{% endblock content %}