<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Mes QR codes</title>
    <style type="text/css">
        @page {
            size: {{ pagesize }};
            margin: 1.5cm;
            @frame footer {
            -pdf-frame-content: footerContent;
            bottom: 0cm;
            margin-left: 3cm;
            margin-right: 3cm;
            height: 1cm;
        }
        }
    </style>
</head>
<body>
<div>
    {% load qr_code %}
    <div class="container">
        {% for b,u in urls.items %}
            <div align="center">
                <h1>{{ b.name }} ({{ b.get_area }} m²) </h1>
                    {% qr_from_text u size="S" image_format="png" %}
            </div>


        {% endfor %}
    </div>
</div>
<div id="footerContent">
    {% block page_foot %}
        Page
        <pdf:pagenumber>
    {% endblock %}
</div>
</body>
</html>